body {
    margin: 0;
}

a {
    color: #36c;
}

a:not(:hover) {
    text-decoration: none;
}

a:active {
    color: #faa700;
}

.header-container {
    padding: 12px 24px;
    background-color: #eaecf0;
}

.header-content {
    margin: 0 auto;
    max-width: 40em;
}

.logo-figure {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    margin: 0;
}

.logo-caption {
    margin: 0 12px;
    font-size: 32px;
}

.footer-container {
    background-color: #eaecf0;
    text-align: center;
    padding: 0 12px;
}
